.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(90deg, rgb(204, 27, 174), rgb(92, 1, 92));
}
body{
  padding: 0;
  margin: 0;
}

